<div class="fixed rounded-full border-neutral-200 cursor-pointer duration-200 border-2 h-8 w-8 bottom-5 left-5 opacity-20 hover:opacity-90"
    [matTooltip]="'LANGUAGE.' + (selectedLanguage === LOCALE_BS ? LOCALE_EN : LOCALE_BS) | translate" matTooltipPosition="right" (click)="changeLanguage()">
    <img class="w-7 h-7 object-cover overflow-hidden rounded-full" *ngIf="selectedLanguage === LOCALE_BS"
        src="assets/img/en.png" alt="English">
    <img class="w-7 h-7 object-cover overflow-hidden rounded-full" *ngIf="selectedLanguage === LOCALE_EN"
        src="assets/img/bs.png" alt="Bosanski">
</div>